/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "lato", sans-serif;
  background-color: #f1f1f1;
}

ul {
  list-style: none;
}

.rientro{
  padding-left: 15%;
  padding-right: 15%;
}

/* HEADER */

header{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
  text-align: center;
  font-size: 18px;
}

header label{
  color:#fff;
}

header #searchbar{
  width: 25%;
  height: 30px;
  border-radius: 8px;
}

header #btn-searchbar{
  padding: 5px 10px;
  border-radius: 5px;
}


/* SEZIONE RISULTATI RICERCA */

.result-display{
  padding-top: 15px;
  padding-bottom: 15px;
}

.result-display h2{
  padding: 20px 0;
  text-align: center;
}

.search-results-heading{
  width: 100%;

  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  font-weight: 800;
}


.search-results-heading>div{
  width: 25%;
  padding: 12px;
  border: 1px solid black;

  text-align: center;
}

#films-search-results li, #tv-search-results li{
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

#films-search-results li>div, #tv-search-results li>div{
  width: 25%;
  padding: 12px;
  border: 1px solid black;

  font-size: 15px;
  text-align: center;

  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

#films-search-results li .stars, #tv-search-results li .stars{
  color: #ccc;
}

#films-search-results li .stars .col-y, #tv-search-results li .stars .col-y{
  color: #f1f1b1;
}
