/* REGOLE GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "lato", sans-serif;
  background-color: #000;
  color: #fff;
}

ul {
  list-style: none;
}

.rientro{
  padding-left: 8%;
  padding-right: 8%;
}

/* classe che impedisce lo scroll quando le modali sono aperte */
.stop-scroll{
  overflow: hidden;
}


/* HEADER */

header{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000;
  text-align: center;
  font-size: 18px;
}

header label{
  color:#fff;
}

header #searchbar{
  width: 250px;
  height: 30px;
  padding-left: 8px;
  border-radius: 8px;

  font-size: 16px;
}

header #btn-searchbar{
  padding: 5px 10px;
  border-radius: 5px;
}

header .searchbar-container{
  display: flex;
  justify-content: space-between;
}

header .searchbar-container h1{
  color: darkred;
}

/* SEZIONE FILTRI */

#filters{
  display: flex;
  justify-content: space-between;

  padding-top: 20px;
  padding-bottom: 20px;
}

#filters .title{
  width: 30%;
}

#filters #genre-select,
#filters #sort-by-select,
#filters #language-select{
  min-width: 200px;
  font-size: 16px;
  padding: 5px;
}

#filters label{
  margin-right: 10px;
  font-weight: bold;
}

#filters #genre-select option,
#filters #sort-by-select option,
#filters #language-select option{
  font-size: 16px;
}

/* SEZIONE CONTATORE PAGINE E BOTTONI */

#movie-pages,
#tv-pages{
  display: flex;
  justify-content: center;
  align-items: center;
}


#movie-pages .button,
#tv-pages .button{
  padding: 5px 20px;

  font-size: 25px;

  color: #a1a1a1;

  border-radius: 10px;
  border: 2px solid  #a1a1a1;
}

#movie-pages .button.active,
#tv-pages .button.active{
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}

#movie-pages .pages-counter,
#tv-pages .pages-counter{
  font-size: 20px;
  padding: 10px;
}


/* SEZIONE RISULTATI RICERCA */

.result-display{
  padding-top: 15px;
  padding-bottom: 15px;
}

.result-display h2{
  padding: 20px 0;
  text-align: center;
}

#movie-search-results, #tv-search-results{
  width: 100%;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}


/* CARD FILM/SERIE TV */

#movie-search-results li, #tv-search-results li{
  width: 25%;
  padding: 12px;

  display: block;

  text-align: center;

  overflow:hidden;

  cursor: pointer;
}

#movie-search-results li>div.poster, #tv-search-results li>div.poster{
  width: 100%;

  position: relative;

}

#movie-search-results li>div.poster>img, #tv-search-results li>div.poster>img{
  width: 100%;
}

/* in caso di immagine mancante */

#movie-search-results li>div.poster.no-img, #tv-search-results li>div.poster.no-img{
  height: 100%;

  position: relative;

  background-color: #f8fafb;
}



#movie-search-results li .no-img-title, #tv-search-results li .no-img-title{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 22px;
  font-weight: bolder;
  color: darkred;
}

/* INFO FILM - MODALE*/

#movie-search-results .item-data-container, #tv-search-results .item-data-container{
  width: 100%;
  height: 100vh;

  padding: 30px;

  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.8);

  z-index: 900;

  display: none;

  cursor: default;
}

#movie-search-results li .item-data-wrapper, #tv-search-results li .item-data-wrapper{
  width: 800px;
  height: 90vh;
  padding: 15px;
  margin: 0 auto;

  background-color: #f1f1f1;

  overflow-y: auto;


  border-radius: 10px;

  text-align: left;
  color: #000;
  font-size: 16px;
}

/* ::webkit-scrollbar definisce le caratteristiche della scrollbar. In questo caso solo la scrollbar della modale quella della pagina resta invariata */
#movie-search-results li .item-data-wrapper::-webkit-scrollbar, #tv-search-results li .item-data-wrapper::-webkit-scrollbar{
    width: 5px;   /* larghezza della scrollbar molto fine */
    background: transparent; /* lo sfondo trasperente la rende invisibile. si vedrà solo quella parte di barra che scorre */
}

#movie-search-results li .item-data-wrapper::-webkit-scrollbar-thumb,
#tv-search-results li .item-data-wrapper::-webkit-scrollbar-thumb {
  /* ::-webkit-scrollbar-thumb è la parte di barra che scorre. ho cabiato colore e bordi arrotondati */
    background: rgba(0, 0, 0, .6);
    border-radius: 3px;
}


#movie-search-results .item-data-wrapper .close-icon,
#tv-search-results .item-data-wrapper .close-icon{
  padding: 0 0 10px 0;
  font-size: 25px;
  text-align: right;
}

#movie-search-results .item-data-wrapper .close-icon i,
#tv-search-results .item-data-wrapper .close-icon i{
  cursor: pointer;
}

#movie-search-results .item-data-wrapper .info-header,
#tv-search-results .item-data-wrapper .info-header{

  padding: 0 20px;

  position: relative;

  overflow: hidden;

}

#movie-search-results .item-data-wrapper .info-header:hover img,
#tv-search-results .item-data-wrapper .info-header:hover img{
  filter: brightness(.2);
}

#movie-search-results .item-data-wrapper .info-header:hover i,
#tv-search-results .item-data-wrapper .info-header:hover i{
  opacity: 1;
}

#movie-search-results .item-data-wrapper .info-header img,
#tv-search-results .item-data-wrapper .info-header img{
  width: 100%;
  transition: filter .5s ease;
}

#movie-search-results .item-data-wrapper .info-header i,
#tv-search-results .item-data-wrapper .info-header i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 50px;
  color: #fff;

  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease;
}

#movie-search-results .item-data-wrapper .info-main,
#tv-search-results .item-data-wrapper .info-main{
  padding: 10px 0;
}

#movie-search-results .item-data-wrapper .info-main>div,
#tv-search-results .item-data-wrapper .info-main>div{
  padding: 5px 0;
}


#movie-search-results .item-data-wrapper .info-main .title, #tv-search-results .item-data-wrapper .info-main .title,
#movie-search-results .item-data-wrapper .info-main .original-title, #tv-search-results .item-data-wrapper .info-main .original-title
{

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


}

#movie-search-results li .language img, #tv-search-results li .language img{
  width: 30px;
  vertical-align: middle;
}

#movie-search-results li .stars i, #tv-search-results li .stars i{
  color: #ccc;
}

#movie-search-results li .stars i.col-y, #tv-search-results li .stars i.col-y{
  color: #f1f100;
}

#movie-search-results li .overview, #tv-search-results li .overview{
  padding-top: 10px;

}

/* MEDIA QUERIES */


@media screen and (max-width: 900px) {
  .rientro{
    padding: 10px;
  }

  #movie-search-results li,
  #tv-search-results li{
     width: 33%;
  }

  #movie-search-results li .item-data-wrapper, #tv-search-results li .item-data-wrapper{
    width: 100%;
  }

  #movie-search-results li .item-data-container, #tv-search-results li .item-data-container{
    padding: 35px;
  }

}

@media screen and (max-width: 700px) {

  #movie-search-results li,
  #tv-search-results li{
     width: 50%;
  }

  #movie-search-results,
  #tv-search-results{
    justify-content: center;
  }

  #movie-search-results li .item-data-container,
  #tv-search-results li .item-data-container{
    padding: 15px;
  }

}

@media screen and (max-width: 500px) {
  #movie-search-results li,
  #tv-search-results li{
     width: 100%;
  }
}
